.first-section {
    background: url('./homepagebg.jpg'); 
    background-size: cover;
    color: rgb(0, 0, 0);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.first-section .btn {
    background-color: #1e7e34;
    border-color: #1c7430;
}

.first-section .mybanklogo{
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 80px;
}

.first-sectionp2{
    margin-top: 10vh;
}

.thirdsecp1 {
    background-color: #1f3a63;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.thirdsecp1 p {
    color: rgba(255, 255, 255, 0.7);
}
.thirdsecp1 .btn {
    margin-top: 10px;
}
.thirdsecp2 {
    padding: 50px;
}
.articlecard {
    border: none;
    margin-bottom: 30px;
    max-height: 600px;
}
.articlecard img {
    max-width: 100%;
    max-height: 180px;
    height: auto;
}

.walletpage{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}

.profile-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.profile-header {
    background-color: #006c97;
    padding: 20px;
    color: white;
}

.profile-content {
    padding: 20px;
}

.profile-pic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-name span:first-child {
    font-weight: bold;
}


.profile-actions button {
    background-color: #1cbfff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
}

.profile-actions button:hover {
    background-color: #6fb3d2;
}

.sectionone{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}

.sectiontwo{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}

.sectionthree{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}

.sectionone .button{
    background-color: rgba(0, 124, 124);
    border-color: rgba(0, 124, 124);
}

.feature-text-one{
    text-align: left;
}

.search-blog{
    max-width: 100%;
    margin-bottom: 7vh;
}

.cards{
    background-color: rgb(163, 179, 179);
    height: 20vh;
}

.feature-picture{
    width: 20vh;
    height: 40vh;
}

.feature-text{
    font-family: sans-serif;
    font-weight: bolder;
}

.contactpage{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}

.features{
    margin-bottom: 20vh;
}

.contact-icons{
    max-width: 25px;
    max-height: auto;
}

.feature-box {
    text-align: left;
}

.feature-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.card, .balance-info, .add-funds {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-funds input {
    width: 100px;
    padding: 5px;
}

.add-funds button {
    padding: 5px 10px;
    margin-left: 10px;
}

/* Wallet page */

.walletpage header h2 {
    margin: 0;
}

.walletpage nav ul {
    list-style: none;
    padding: 0;
}

.walletpage nav ul li {
    margin: 10px 0;
}

.walletpage ul li a {
    text-decoration: none;
    color: #333;
}

.card, .balance-info, .add-funds {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-funds input {
    width: 100px;
    padding: 5px;
}

.add-funds button {
    padding: 5px 10px;
    margin-left: 10px;
}

/* loginpage */
.walletloginpage body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #141E30, #243B55);
}

.container {
    width: 100%;
    max-width: 85%;
    margin: auto;
}

.login-box {
    margin-top: 5vh;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #243B55;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #141E30;
}

/* Popup styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#error-message {
    color: red;
    margin-top: 10px;
}

.container-5 {
    margin: auto;
    max-width: 1500px;
    text-align: center;
    padding: 20px;
}

.container-5 h1 {
    margin-bottom: 20px;
    color: #333;
}

.container-5 p {
    font-size: 16px;
    margin-bottom: 50px;
}

.container-5 .col-md-4 {
    padding: 20px;
    box-sizing: border-box;
}

.container-5 .card {
    background-color: #a7c1d1;
    padding: 30px;
    border: none;
    border-radius: 10px;
    text-align: left;
}

.container-5 .cards h5 {
    margin-bottom: 10px;
    color: #333;
}

.testimonial-container {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #f9f9f9;
    padding: 24px;
    border-radius: 10px;
    max-width: 800px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-container img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 24px;
    object-fit: cover;
}

.testimonial-container {
    font-size: 24px;
    margin-bottom: 8px;
    color: #333;
}

.testimonial-container h6 {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 16px;
}

.testimonial-container p {
    font-size: 16px;
    color: #333;
}


.carousel-item {
    text-align: center;
}
.carousel-item img {
    width: auto;
    height: 300px;
    border-radius: 10px;
}
.carousel-caption {
    position: static;
    color: #333;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:200;
}
.quote-symbol {
    font-size: 2rem;
    vertical-align: middle;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.footer {
    background-color: #004b54; 
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;

    bottom: 1;
}

